/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*debug*/
    background-color: #f5f8fa;
}

main {
    font-family: 'Poppins', sans-serif;
    color: #33475b;
    /*debug*/
    /*background-color: orange;*/
}

/* regole header */

header{
    height: 100px;
    width: 100%;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    background-color: #f5f8fa;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    /*debug*/
    /*background-color: #F5FFFA;*/
}

/* regole top header */

.top-header {
    height: 50%;
    margin: 0 10%;
    /*debug*/
    /*background-color: greenyellow;*/
}

.top-header::after {
    content: "";
    display: table;
    clear: both;
}

#nav-contatti {
    float: left;
}

#nav-login ul {
    float: right;
    top: 0;
    right: 5%;
}

#nav-login {
    background-color: darkorange;
}

/* caratteristiche nav-bar header */

#nav-contatti li, #nav-login li, #nav-servizi li {
    display: inline-block;
    list-style-type: none;
    padding: 0 10px;
    margin-top: 12.5px;
}

#nav-contatti li a, #nav-login li a, #nav-servizi li a {
    text-decoration: none;
}

.contatti li:first-child {
    border-right: 1px solid lightslategray;
}

#nav-contatti li a, #nav-servizi li a {
    color: #33475b;
}

.login a, .orangebutton a {
    padding: 4px 12px;
    border-radius: 3px;
    /*debug*/
    /*padding: 4px 12px 4px 12px;*/
}

.login a {
    border: 1px solid coral;
    color: coral;
}

.login i {
    color: deepskyblue;
}

.orangebutton a {
    background-color: coral;
    color: white;
    display: inline-block;
}


 /* regole bottom header */

.bottom-header {
    height: 50%;
    /*debug*/
    background-color: #F5FFFA;
}

#logo {
    float: left;
    width: 20%;
    margin-left: 11%;
    margin-top: 10px;
    /*debug*/
    /*background-color: red;*/
}

#logo img {
    float: left;
    vertical-align: middle;
    /*background-color: yellow;*/
}

#nav-servizi ul {
    float: right;
    width: 50%;
    margin-right: 10%;
    margin-top: 5px;
    text-align: right;
    /*debug*/
    /*background-color: #00adb4;*/
}


.bottom-header::after {
    content: "";
    display: table;
    clear: both;
}

/* regole generali button arancioni */

.box-title .orangebutton a, .learn .orangebutton a, .left .orangebutton a, .central .orangebutton a, .right .orangebutton a, .growing a {
    padding: 15px 30px;
    text-decoration: none;
    font-size: 11px;
}

/* regole 1^a sezione */

.blocco-principale {
    position: relative;
    height: 600px;
    margin-top: 100px; /* parte alla fine dell'header*/
    background-image: url(../img/jumbotron.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid #3c5567;
    /*debug*/
    /*background-color: #fff2ee;*/
}

.box-title {
    position: absolute;
    top: 10%;
    left: 11%;
    color: #33475b;
}

.box-title h1 {
    font-size: 31px;
}

.box-title p {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 11px;
}

/*.blocco-interlinea {
    height: 60px;
    background-color: #a6e9e1;
    border-top: 2px solid #33475b;
    border-bottom: 2px solid #33475b;
    !*debug*!
    !*line-height: 60px;*!
}*/

.box-title .free-tools {
    margin-top: 50px;
    font-size: 10px;
}

/* regole 2^a sezione */

#container-2 {
    background-color: #f5f8fa;

}

#blocco-rubik {
    height: 340px;
    width: 80%;
    margin: 10px auto;
    text-align: center;
    background-color: #f5f8fa;
    /*debug*/
}

.cubo {
    margin-top: 50px;
}

.cubo img {
    height: 200px;
    width: auto;
}


#blocco-rubik h2 {
    font-size: 22px;
}

#blocco-rubik p, .popular p {
    margin-top: 20px;
    font-size: 11px;
}

/* regole blocco crm */

#row-crm {
    width: 80%;
    margin: 10px auto;
    border-radius: 3px;
    background-color: white;
    text-align: center;
    -webkit-box-shadow: 0 0 6px 1px rgba(172,172,172,0.9);
    box-shadow: 0 0 6px 1px rgba(172,172,172,0.9);
    /*debug*/
    /*height: 200px;*/
    /*background-color: #f5f8fa;*/
}

#row-crm::after {
    content: "";
    display: table;
    clear: both;
    /*debug*/
    /*background-color: #4682B4;*/
}

.learn {
    float: left;
    width: 40%;
    background-color: white;
    text-align: center;
    /*debug*/
    /*height: 500px;*/
}

.img-book {
    margin-top: 60px;
}

.img-book img {
    height: 90px;
    width: auto;
}

.button-book, .button-growing {
    margin-top: 10px;
    margin-bottom: 60px;
}

.button-book span {
    display: block;  /* per non invadere sez. inferiore */
    margin-bottom: 30px;
}

.popular {
    float: left;
    width: 60%;
    text-align: left;
    margin-top: 50px;
    /*debug*/
    /*height: 500px;*/
    /*background-color: greenyellow;*/
}

/* inizio regole linea */

.box-poplinea {
    position: relative;
    /*debug*/
    /*background-color: yellow;*/
}

.text-linea {
    width: 35%;
    /*debug*/
    /*background-color: hotpink;*/
}

.linea-1 {
    position: absolute;
    top: 15px;
    right: 15%;
    height: 1px;
    width: 45%;
    border: 0.8px solid lightslategrey;
}

.text-popular {
    /*debug*/
    /*background-color: green;*/
}

/* fine linea */

.text-popular h3:last-of-type, .text-marketing h3:last-of-type, .text-sales h3:last-of-type, .text-service h3:last-of-type {
    margin: 15px 0;
    font-weight: 600; /* semibold */
}
.text-popular li {
    display: inline-block;
    text-decoration: none;
    padding: 0 20px 0 0;
    font-size: 12px;
}

#row-crm li i, #row-servizi li i {
    color: coral;
}

/* regole row servizi */

.left .button-book, .central .button-book, .right .button-book {
    margin-top: 60px;
    margin-bottom: 30px;
}

.linea {
    height: 1px;
    width: 80%;
    border: 0.8px solid lightslategrey;
    margin: 15px 12%;
}

.img-marketing, .img-sales, .img-service {
    margin-top: 20px;
}

.img-marketing img, .img-sales img, .img-service img {
    height: 90px;
    width: auto;
}

.left, .central, .right {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: #33475b;
    -webkit-box-shadow: 0 0 6px 1px rgba(172,172,172,0.9);
    box-shadow: 0 0 6px 1px rgba(172,172,172,0.9);
}

.left, .right {
    float: left;
    width: 31%;
    text-align: center;
    /*debug*/
    /*background-color: indianred;*/
    /*height: 500px;*/
}

.central {
    float: left;
    width: 31%;
    margin: 0 3.5%;
    text-align: center;
    /*debug*/
    /*background-color: #87CEFA;*/
    /*height: 500px;*/
}

#row-servizi {
    width: 80%;
    margin: 30px auto;
    /*debug*/
    /*background-color: #f5f8fa;*/
}

#row-servizi p {
    font-size: 11px;
    margin: 15px 50px 35px 50px;
}

.text-marketing li, .text-sales li, .text-service li {
    text-decoration: none;
    font-size: 12px;
    list-style-type: none;
    text-align: left;
    margin-left: 40px;
}

#row-servizi::after {
    content: "";
    display: table;
    clear: both;
    /*debug*/
    /*background-color: #4682B4;*/
}

/* regole sezione griglia */

#container-3 {
    background-color: #00adb4;
}

.text-learn {
    float: left;
    width: 100%;
    text-align: center;
    /*debug*/
    /*background-color: #87CEFA;*/
    /*line-height: 200px;*/
}

.text-learn p, .text-learn h2 {
    color: white;
}

.text-learn h2 {
    margin: 10px 160px 5px 160px;
    padding: 20px 0;
}

.text-learn p {
    font-size: 11px;
    margin: 5px 13% 40px 13%;
}

.row-winning::after {
    content: "";
    display: table;
    clear: both;
}

/* regole inizio griglia */

.row-tabella-2 {
    padding-bottom: 50px;
}

.row-tabella-1, .row-tabella-2 {
    width: 70%;
    margin: 0 auto;
    color: white;
    /*debug*/
    /*background-color: #00adb4;*/
}

.row-tabella-1::after, .row-tabella-2::after {
    content: "";
    display: table;
    clear: both;
    /*debug*/
     /*background-color: #4682B4;*/
}

/* regole box griglia */

.box-1, .box-2, .box-3 {
    border-right: 1px solid white;
}

.row-tabella-1 .box-1, .row-tabella-1 .box-2, .row-tabella-1 .box-3,.row-tabella-1 .box-4 {
    border-bottom: 1px solid white;
}

.box-1, .box-2, .box-3, .box-4 {
    float: left;
    width: 25%;
    text-align: center;
    /*debug*/
    /*background-color: indianred;*/
}

/* regole immagini griglia */

.img-hand, .img-blog, .img-academy, .img-inbound, .img-connect,.img-globe, .img-followers, .img-growth {
    background-repeat: no-repeat;
    background-position: top;
    object-fit: cover;
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

.img-hand {
    background-image: url(../img/homepage_community_agency.svg);
}

.img-blog {
    background-image: url(../img/homepage_community_blog.svg);
}

.img-academy {
    background-image: url(../img/homepage_community_academy.svg);
}

.img-inbound {
    background-image: url(../img/homepage_community_inbound.svg);
}

.img-connect {
    background-image: url(../img/homepage_community_connect.svg);
}

.img-globe {
    background-image: url(../img/homepage_community_globe.svg);
}

.img-followers {
    background-image: url(../img/homepage_community_followers.svg);
}

.img-growth {
    background-image: url(../img/growthhub-white-small-1.svg);
}

/* regole testo nei box della griglia */

.row-tabella-1 .number, .row-tabella-2 .number {
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
}

.row-tabella-1 p, .row-tabella-2 p {
    font-size: 10px;
    padding-bottom: 10px;
}

.row-tabella-1 span, .row-tabella-2 span  {
    font-size: 22px;
    font-weight: 300;
    vertical-align: middle;
}

/* fine regole griglia */

/* regole sezione pre-footer */

#container-4 {
    background-color: white;
}

.customers, .loghi, .immagine {
    text-align: center;
}

.customers {
    float: left;
    width: 30%;
    margin-right: 12%;
    padding-top: 2%;
    /*debug*/
    /*height: 200px;*/
    /*background-color: deeppink;*/
}

.loghi {
    float: left;
    width: 56%;
    /*debug*/
    /*height: 200px;*/
    /*background-color: greenyellow;*/
}

.growing, .immagine {
    float: left;
    width: 50%;
    /*debug*/
    /*height: 200px;*/
    /*background-color: greenyellow;*/
}

.button-growing {
    margin-top: 40px;
}

.girl {
    text-align: right;
}

.girl img {
    height: 250px;
    width: auto;
}

.customers p:nth-child(2) {
    text-align: left;
    /*debug*/
    /*background-color: greenyellow;*/
}

.customers p:first-child {
    font-size: 35px;
    font-weight: bold;
}

.customers p:first-child, .growing h2:first-child {
    margin-top:20px;
}

.customers p:nth-child(2), .growing p:nth-child(2) {
    font-size: 11px;
}

.customers p:nth-child(2) {
    margin: 20px 15% 20px 27%;
}

.growing h2:first-child {
    font-weight: 600;
    padding: 20px 0;
    font-size: 30px;
}

.growing p:last-child {
    font-size: 10px;
    margin-bottom: 40px;
}

/* regole loghi */

.top-loghi img, .bottom-loghi img {
    vertical-align: middle;
}

.loghi {
    padding-right: 15px;
    margin-top: 4%;
    /*debug*/
    /*background-color: lightblue;*/
}

.top-loghi {
    margin-bottom: 15px;
    /*debug*/
    /*background-color: lightpink;*/
}

.bottom-loghi {
    margin-left: 50px;
    /*debug*/
    /*background-color: forestgreen;*/
}

.top-loghi img, .bottom-loghi img {
    height: 13px;
    width: auto;
    padding: 0 5px;
}

.bottom-loghi img{
    padding-right: 10px;
}

.top-loghi img:last-child, .top-loghi img:nth-child(3) {
    height: 22px;
    width: auto;
}

.bottom-loghi img:first-child, .bottom-loghi img:nth-child(3) {
    height: 25px;
    width: auto;
}

.bottom-loghi img:last-child {
    height: 20px;
    width: auto;
    padding-left: 10px;
}

/* fine regole loghi*/

/* regole generali row */

.row-counter, .row-growing {
    width: 70%;
    margin: 0 auto;
    /*debug*/
    /*background-color: cornflowerblue;*/
}

.row-counter::after, .row-growing::after {
    content: "";
    display: table;
    clear: both;
    /*debug*/
    /* background-color: #4682B4; */
}

/* regole sezione footer */

footer{
    font-family: 'Poppins', sans-serif;
    background-color: #2d3e50;
    /*debug*/
    /*height: 300px;*/
}

.row-footer {
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    /*debug*/
    /*background-color: deepskyblue;*/
}

.btn-footer {
    margin-top: 20px;
}

.btn-footer a {
    display: inline-block;
    text-decoration: none;
    font-size: 11px;
    color: #2d3e50;
    background-color: #f5f8fa;
    border-radius: 3px;
    padding: 8px 7px;
}

.lista-1, .lista-2, .lista-3, .lista-4 {
    float: left;
    width: 25%;
    /*debug*/
    /*height: 200px;*/
    /*background-color: greenyellow;*/
}

.lista-1 li a, .lista-2 li a,.lista-3 li a, .lista-4 li a {
    text-decoration: none;
    color: white;
    font-size: 11px;
    font-weight: 400;
}

.lista-1 ul, .lista-2 ul, .lista-3 ul, .lista-4 ul {
    list-style-type: none;
}

.titolo-1 li:first-child, .titolo-2 li:first-child, .titolo-3 li:first-child, .titolo-4 li:first-child {
    padding-bottom: 12px;
}

.row-footer::after {
    content: "";
    display: table;
    clear: both;
    /*debug*/
    /* background-color: #4682B4; */
}

.footer-social {
    margin-top: 25px;
}

.footer-social span {
    margin-right: 15px;
}

.footer-social a {
    color: white;
}

/* regole lista lingue */

.linea-2 {
    height: 1px;
    width: 100%;
    border: 0.8px solid lightslategrey;
    margin: 0 auto;
}

.row-lang {
    margin: 0 auto;
    background-color: deepskyblue;
}

.box-lang {
    text-align: center;
    background-color: #2d3e50;
}

.box-lang li {
    display: inline-block;
}

.box-lang li a {
    color: white;
    text-decoration: none;
    list-style-type: none;
    margin: 0 10px;
    font-size: 11px;
}

.row-lang::after {
    content: "";
    display: table;
    clear: both;
    /*debug*/
    /*background-color: #4682B4;*/
}

/* regole sezione copyright */

.row-copy {
    width: 70%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 30px;
    color: white;
    font-size: 11px;
    /*debug*/
    /*background-color: greenyellow;*/
}

.footer-left, .footer-right {
    float: left;
    width: 50%;
    padding-top: 30px;
    /*debug*/
    /* height: 200px;*/
    /*background-color: greenyellow;*/
}

.footer-right {
    text-align: right;
}

.footer-right li {
    display: inline-block;
    margin: 0 10px;
    font-size: 11px;
}

.footer-right li a {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.row-copy::after {
    content: "";
    display: table;
    clear: both;
    /*debug*/
    /*background-color: #4682B4;*/
}

