/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
     /*debug*/
   /* background-color: slategray;*/
}

/*#container{
    width: 90%;
    margin: 0 5%;
}*/


/* regole header */

header{
    height: 100px;
    width: 100%;
    /*debug*/
    background-color: orangered;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.top-header {
    height: 50%;
    /*debug*/
    background-color: greenyellow;
    position: relative;
}

#nav-contatti ul {
    display: inline-block;
}

#nav-login ul {
    position: absolute;
    top: 0;
    right: 50px;
}

#nav-contatti li, #nav-login li {
    display: inline-block;
}

/*#nav-contatti li, #nav-login li {
    display: inline-block;
}*/

.bottom-header {
    height: 50%;
    /*debug*/
    background-color: forestgreen;
}



/* regole 1^a sezione */

.blocco-principale {
  /*debug*/
    background-color: lightpink;
    height: 400px;
    /*margin-bottom: 30px;*/
}

.blocco-interlinea {
    height: 60px;
    /*debug*/
    background-color: cadetblue;
    text-align: center;
    line-height: 60px;
}

/* regole 2^a sezione (blocco con float) */

.blocco-rubik {
    height: 200px;
    width: 80%;
    margin: 10px auto;
    /*debug*/
    background-color: orange;
    text-align: center;
    line-height: 100px;
}

.blocco-crm {
    height: 200px;
    width: 80%;
    margin: 10px auto;
    /*debug*/
    background-color: limegreen;
    text-align: center;
    line-height: 100px;
}


.aside {
    float: left;
    width: 31%;
    height: 500px;
    /*debug*/
    background-color: indianred;
    text-align: center;
    line-height: 200px;
}

.central {
    float: left;
    width: 31%;
    margin: 0 3.5%;
    /*debug*/
    background-color: #87CEFA;
    height: 500px;
    text-align: center;
    line-height: 200px;
}

.row-servizi {
    width: 80%;
    margin: 10px auto;
}

.row-servizi::after {
    content: "";
    display: table;
    clear: both;
    /* background-color: #4682B4; */
}

/*blocco scacchiera */

.blocco-learn {
    /*debug*/
    background-color: blueviolet;
    height: 150px;
    /*margin-bottom: 30px;*/
    text-align: center;
    line-height: 200px;
}

.row-scacchiera {
    width: 70%;
    margin: 0 auto;
}

.row-scacchiera::after {
    content: "";
    display: table;
    clear: both;
    /* background-color: #4682B4; */
}

.col-1 {
    float: left;
    width: 25%;
    /*height: 200px;*/
    /*debug*/
    background-color: indianred;
    text-align: center;
    line-height: 200px;
}
.col-2 {
    float: left;
    width: 25%;
    /*height: 200px;*/
    /*debug*/
    background-color: red;
    text-align: center;
    line-height: 200px;
}
.col-3 {
    float: left;
    width: 25%;
   /* height: 200px;*/
    /*debug*/
    background-color: indianred;
    text-align: center;
    line-height: 200px;
}
.col-4 {
    float: left;
    width: 25%;
   /* height: 200px;*/
    /*debug*/
    background-color: red;
    text-align: center;
    line-height: 200px;
}

 /* regole sezione loghi */

.row-counter {
    width: 70%;
    margin: 10px auto;
}

.row-counter::after {
    content: "";
    display: table;
    clear: both;
    /* background-color: #4682B4; */
}

.counter {
    float: left;
    width: 50%;
    /* height: 200px;*/
    /*debug*/
    background-color: greenyellow;
    text-align: center;
    line-height: 200px;
}


/* sezione footer */

footer{
    height: 300px;
    /*debug*/
    background-color: slategray;
    text-align: center;
    line-height: 200px;
}
