/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*debug*/
    background-color: #f5f8fa;

}

/*#container{
    width: 90%;
    margin: 0 5%;
}*/


/* regole header */

header{
    height: 100px;
    width: 100%;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    /*debug*/
    /*background-color: #F5FFFA;*/
    background-color: #f5f8fa;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.top-header {
    height: 50%;
    margin: 0 10%;
    position: relative;
    /*debug*/
    /*background-color: lightblue;*/

}

#nav-contatti ul {
    display: inline-block;
}

#nav-login ul {
    position: absolute;
    top: 0;
    right: 5%;
}

#nav-contatti li, #nav-login li, #nav-servizi li {
    display: inline-block;
    padding: 0 10px;
    margin-top: 12.5px;
}

/* caratteristiche generali dei link */

/* colore font principale: #33475b */

#nav-contatti li a, #nav-login li a, #nav-servizi li a {
    text-decoration: none;
    color: #33475b;
}

.contatti li:first-child {
    border-right: 1px solid lightslategray;
}

.login a, .orangebutton a {
    padding: 4px 12px 4px 12px;
    border-radius: 3px;
}

.login a {
    border: 1px solid coral;
    color: coral;
}

.login i {
    color: deepskyblue;
}

.orangebutton a {
    background-color: coral;
    color: white;
}


/*regole hover link header*/

/*.login a:hover, .hubfree a:hover {
    background-color: rgba(255, 215, 255, 0.9);
}*/


 /*regole sezione inferiore header*/

.bottom-header {
    height: 50%;
    position: relative;
    /*debug*/
    background-color: #F5FFFA;
}

#logo img {
    margin: 10px 11%;
}

#nav-servizi ul {
    position: absolute;
    top: 0;
    right: 14%;
}

/* regole main */

main {
    font-family: 'Poppins', sans-serif;
    /*background-color: orange;*/
    color: #33475b;
}

/* regole 1^a sezione */

.blocco-principale {
    position: relative;
    height: 600px;
    margin-top: 100px; /* parte alla fine dell'header*/
    background-image: url(../img/jumbotron.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: 75% 10%;
    /* background-size: 100%;*/
    /*background-position: bottom right;*/
    /*margin-bottom: 10px;*/
    /*debug*/
    /*background-color: #fff2ee;*/
}

.box-title {
    position: absolute;
    top: 10%;
    left: 11%;
    color: #33475b;
}

.box-title h1 {
    font-size: 31px;
}

.box-title p {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 11px;
}


.blocco-interlinea {
    height: 60px;
    /*debug*/
    background-color: #a6e9e1;
    border-top: 2px solid #33475b;
    border-bottom: 2px solid #33475b;
    text-align: center;
    line-height: 60px;
}


.box-title .orangebutton a {
    padding: 15px 30px;
    text-decoration: none;
    font-size: 11px;
}

.box-title .free-tools {
    margin-top: 50px;
    font-size: 9px;
}

    /* regole 2^a sezione (blocco con float) */


#container-2 {
    background-color: #f5f8fa;
}

#blocco-rubik {
    height: 400px;
    width: 80%;
    margin: 10px auto;
    /*debug*/
    /*text-align: center;
    line-height: 100px;*/
    text-align: center;
    background-color: #f5f8fa;

}

.cubo {
    height: 250px;
    width: 250px;
    background-color: #f5f8fa;
    background-image: url(../img/cube.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 0 auto;
}

#blocco-rubik h2 {
    font-size: 22px;
}

#blocco-rubik p, .popular p {
    margin-top: 20px;
    font-size: 11px;
}


    /* regole blocco crm */

#row-crm {
    /*height: 200px;*/
    width: 80%;
    margin: 10px auto;
    border-radius: 3px;
    /*debug*/
    background-color: white;
    /*background-color: #f5f8fa;*/
    text-align: center;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(172,172,172,0.9);
    box-shadow: 0px 0px 6px 1px rgba(172,172,172,0.9);
}

#row-crm::after {
    content: "";
    display: table;
    clear: both;
    /*background-color: #4682B4;*/
}

.learn {
    float: left;
    width: 40%;
   /* height: 500px;*/
    /*debug*/
    background-color: white;
    text-align: center;
}


.img-book {
    background-image: url(../img/book.svg);
    background-repeat: no-repeat;
    background-position: top;
    object-fit: cover;
    width: 100%;
    height: 90px;
    margin-top: 50px;
}

.learn .orangebutton a, .left .orangebutton a, .central .orangebutton a, .right .orangebutton a {
    padding: 15px 30px;
    text-decoration: none;
    font-size: 11px;
}

.button-book {
    margin-top: 40px;
    margin-bottom: 70px;
}

.button-book span {
    display: block;  /* per non invadere bloccoinferiore*/
    margin-bottom: 30px;
}

.popular {
    float: left;
    width: 60%;
    /*height: 500px;*/
    /*debug*/
    background-color: white;
    text-align: left;
    margin-top: 50px;
}

.text-popular h3:last-of-type, .text-marketing h3:last-of-type, .text-sales h3:last-of-type, .text-service h3:last-of-type {
    margin: 15px 0;
    font-weight: 600; /* semibold */
}
.text-popular li {
    display: inline-block;
    text-decoration: none;
    padding: 0 20px 0 0;
    font-size: 15px;
}

#row-crm li i, #row-servizi li i {
    color: coral;
}


/* regole row servizi */

.left .button-book, .central .button-book, .right .button-book {
    margin-top: 60px;
    margin-bottom: 30px;
}
.linea {
    height: 1px;
    width: 80%;
    border: 0.8px solid lightslategrey;
    margin: 15px 12%;
}

.img-marketing, .img-service, .img-sales {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;

}
.img-marketing {
    background-image: url(../img/marketing.svg);

}

.img-service {
    background-image: url(../img/service.svg);

}

.img-sales {
    background-image: url(../img/sales.svg);

}

.left, .central, .right {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: #33475b;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(172,172,172,0.9);
    box-shadow: 0px 0px 6px 1px rgba(172,172,172,0.9);
}



.left, .right {
    float: left;
    width: 31%;
    /*height: 500px;*/
    /*debug*/
    /*background-color: indianred;*/
    text-align: center;
    /*line-height: 200px;*/
}

.central {
    float: left;
    width: 31%;
    margin: 0 3.5%;
    /*debug*/
    /*background-color: #87CEFA;*/
    /*height: 500px;*/
    text-align: center;
    /*line-height: 200px;*/
}

#row-servizi {
    width: 80%;
    margin: 30px auto;
    background-color: #f5f8fa;
}

#row-servizi p {
    font-size: 11px;
    margin: 15px 50px 35px 50px;
}

.text-marketing li, .text-sales li, .text-service li {
    text-decoration: none;
    /*padding: 0 20px 0 0;*/
    font-size: 15px;
    list-style-type: none;
    text-align: left;
    margin-left: 40px;
}

#row-servizi::after {
    content: "";
    display: table;
    clear: both;
    /* background-color: #4682B4; */
}




/* regole blocco "tabella" */

#container-3 {
    background-color: #00adb4;
}

/*.text-learn {
    !*debug*!
    !*background-color: blueviolet;*!
    height: 150px;
    text-align: center;

}*/

.text-learn {
    float: left;
    width: 100%;
    /*debug*/
    /*background-color: #87CEFA;*/
    text-align: center;
    /*line-height: 200px;*/
}

.text-learn p, .text-learn h2 {
    color: white;
}

.text-learn h2 {
    margin: 10px 160px 5px 160px;
    padding: 10px 0 20px 0;
}

.text-learn p {
    font-size: 11px;
    margin: 10px 120px 20px 120px;
}


.row-winning::after {
    content: "";
    display: table;
    clear: both;
    /* background-color: #4682B4; */
}



/* inizio tabella */

.row-tabella-2 {
    padding-bottom: 50px;
}

.row-tabella-1, .row-tabella-2 {
    width: 70%;
    margin: 0 auto;
    color: white;
    background-color: #00adb4;
}

.row-tabella-1::after, .row-tabella-2::after {
    content: "";
    display: table;
    clear: both;
     /*background-color: #4682B4;*/
}

/* regole BOX tabella */

.box-1, .box-2, .box-3 {
    border-right: 1px solid white;
}

.row-tabella-1 .box-1, .row-tabella-1 .box-2, .row-tabella-1 .box-3,.row-tabella-1 .box-4 {
    border-bottom: 1px solid white;
}


.box-1 {
    float: left;
    width: 25%;
    text-align: center;
    /*debug*/
    /*background-color: indianred;*/
}


.box-2 {
    float: left;
    width: 25%;
    text-align: center;
    /*debug*/
    /*background-color: red;*/
}

.box-3 {
    float: left;
    width: 25%;
    text-align: center;
    /*height: 200px;*/
    /*debug*/
    /*background-color: indianred;*/

}
.box-4 {
    float: left;
    width: 25%;
    text-align: center;
    /*debug*/
    /*background-color: red;*/

}

/* regole immagini tabella */

.img-hand, .img-blog, .img-academy, .img-inbound, .img-connect,.img-globe, .img-followers, .img-growth {
    background-repeat: no-repeat;
    background-position: top;
    object-fit: cover;
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

.img-hand {
    background-image: url(../img/homepage_community_agency.svg);
}

.img-blog {
    background-image: url(../img/homepage_community_blog.svg);
}

.img-academy {
    background-image: url(../img/homepage_community_academy.svg);
}

.img-inbound {
    background-image: url(../img/homepage_community_inbound.svg);
}

.img-connect {
    background-image: url(../img/homepage_community_connect.svg);
}

.img-globe {
    background-image: url(../img/homepage_community_globe.svg);
}

.img-followers {
    background-image: url(../img/homepage_community_followers.svg);
}

.img-growth {
    background-image: url(../img/growthhub-white-small-1.svg);
}


/* regole testo nei box */

.row-tabella-1 .number, .row-tabella-2 .number {
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
}

.row-tabella-1 p, .row-tabella-2 p {
    font-size: 10px;
    padding-bottom: 10px;
}

.row-tabella-1 span, .row-tabella-2 span  {
    font-size: 22px;
    font-weight: 300;
    vertical-align: middle;
}








/* fine regole TABELLA*/

/* regole numeri nei box */




 /* regole sezione loghi */

.row-counter {
    width: 70%;
    margin: 10px auto;
}

.row-counter::after {
    content: "";
    display: table;
    clear: both;
    /* background-color: #4682B4; */
}

.counter {
    float: left;
    width: 50%;
    /* height: 200px;*/
    /*debug*/
    background-color: greenyellow;
    text-align: center;
    line-height: 200px;
}


/* sezione footer */

footer{
    height: 300px;
    /*debug*/
    background-color: slategray;
    text-align: center;
    line-height: 200px;
}
